In [15]:
# Dependencies
from bs4 import BeautifulSoup
import requests, os
import pandas as pd
from pymongo import MongoClient
from bs4 import BeautifulSoup as bs

SCRAPING EPISODE RATING INFO FROM IMDB

In [16]:
# episode ID: string (ex. S01E01)
# rating: float
# title: string

# Initialize lists to hold scraped data, outside of loop 
ratinglist, titlelist, IDlist = [],[],[]

#List of seasons to loop through
seasons = [x+1 for x in range(9)]


# Loop through each of the seasons
for season in seasons:
    
    # loop status
    print(f'Starting to scrape season {season}')
    
    url = 'https://www.imdb.com/title/tt0098904/episodes?season='+str(season)    
    
    # Retrieve page and create iterable list of all episode info elements in that season
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    results = soup.find_all('div', class_="info", itemprop="episodes")

    # Loop through results from current season
    for result in results:
        
        try:
            #Identify episode as integer
            episode = int(result.find('meta', itemprop='episodeNumber')['content'])
            
            #Identify rating as float
            rating = float(result.find('span', class_='ipl-rating-star__rating').text)
            ratinglist.append(rating)
            
            # Identify episode title as string
            title = result.find('a', itemprop='name').text
            titlelist.append(title)

            #Create episode ID
            IDseason = "{0:0=2d}".format(season)
            IDepisode = "{0:0=2d}".format(episode)
            ID = 'S'+IDseason+'E'+IDepisode
            IDlist.append(ID)         
            
        except AttributeError as e:
            print(e)

Starting to scrape season 1
Starting to scrape season 2
Starting to scrape season 3
Starting to scrape season 4
Starting to scrape season 5
Starting to scrape season 6
Starting to scrape season 7
Starting to scrape season 8
Starting to scrape season 9

In [17]:
# Assemble lists into final ratings dataframe
ratings_df = pd.DataFrame({
    'SEID': IDlist,
    'Rating': ratinglist,
    'Title': titlelist
})
ratings_df.head()

     SEID  Rating                Title
0  S01E01     7.6  Good News, Bad News
1  S01E02     7.6         The Stakeout
2  S01E03     7.6          The Robbery
3  S01E04     7.3       Male Unbonding
4  S01E05     7.5        The Stock Tip

IMPORTING EPISODE DATA AND SCRIPT CSVs

In [18]:
info_df = pd.read_csv(r'C:\Users\nella\BOOTCAMP\HOMEWORK\ETL-mini-project\Seinfeld\episode_info.csv')

# Drop Season and Episode since they are covered in other tables, and unnamed column
info_df.drop('EpisodeNo', axis=1, inplace=True)
info_df.drop('Unnamed: 0', axis=1, inplace=True)

info_df.head()

,Season,Title,AirDate,Writers,Director,SEID
0,1.0,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,S01E01
1,1.0,The Stakeout,"May 31, 1990","Larry David, Jerry Seinfeld",Tom Cherones,S01E02
2,1.0,The Robbery,"June 7, 1990",Matt Goldman,Tom Cherones,S01E03
3,1.0,Male Unbonding,"June 14, 1990","Larry David, Jerry Seinfeld",Tom Cherones,S01E04
4,1.0,The Stock Tip,"June 21, 1990","Larry David, Jerry Seinfeld",Tom Cherones,S01E05

In [19]:
# Join ratings table to episode info table, on the title
info_with_ratings = info_df.merge(ratings_df, how='outer', on='Title', suffixes=('_info', '_rating'))

info_with_ratings.head()

,Season,Title,AirDate,Writers,Director,SEID_info,SEID_rating,Rating
0,1.0,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,S01E01,S01E01,7.6
1,1.0,The Stakeout,"May 31, 1990","Larry David, Jerry Seinfeld",Tom Cherones,S01E02,S01E02,7.6
2,1.0,The Robbery,"June 7, 1990",Matt Goldman,Tom Cherones,S01E03,S01E03,7.6
3,1.0,Male Unbonding,"June 14, 1990","Larry David, Jerry Seinfeld",Tom Cherones,S01E04,S01E04,7.3
4,1.0,The Stock Tip,"June 21, 1990","Larry David, Jerry Seinfeld",Tom Cherones,S01E05,S01E05,7.5

In [20]:
# Check for NaNs in Ratings (the right half)
info_with_ratings[info_with_ratings['Rating'].isna()] # Lots of 2 part episodes and typos!

,Season,Title,AirDate,Writers,Director,SEID_info,SEID_rating,Rating
32,3.0,The Fix-Up,"February 5, 1992","Elaine Pope, Larry Charles",Tom Cherones,S03E16,NaN,NaN
33,3.0,The Boyfriend (1),"February 12, 1992",Larry David and Larry Levin,Tom Cherones,S03E17,NaN,NaN
34,3.0,The Boyfriend (2),"February 12, 1992",Larry David and Larry Levin,Tom Cherones,S03E18,NaN,NaN
40,4.0,The Trip (1),"August 12, 1992",Larry Charles,Tom Cherones,S04E01,NaN,NaN
41,4.0,The Trip (2),"August 19, 1992",Larry Charles,Tom Cherones,S04E02,NaN,NaN
44,4.0,The Wallet (1),"September 23, 1992",Larry David,Tom Cherones,S04E05,NaN,NaN
45,4.0,The Watch (2),"September 30, 1992",Larry David,Tom Cherones,S04E06,NaN,NaN
62,4.0,The Pilot (1),"May 20, 1993",Larry David,Tom Cherones,S04E23,NaN,NaN
63,4.0,The Pilot (2),"May 20, 1993",Larry David,Tom Cherones,x,NaN,NaN
79,5.0,The Stand-In,"February 24, 1994",Larry David,Tom Cherones,S05E16,NaN,NaN
92,6.0,The Mom &amp; Pop Store,"November 17, 1994","Tom Gammill, Max Pross",Andy Ackerman,S06E08,NaN,NaN
120,7.0,The Cadillac (1),"February 8, 1996","Larry David, Jerry Seinfeld",Andy Ackerman,S07E14,NaN,NaN
121,7.0,The Cadillac (2),"February 8, 1996","Larry David, Jerry Seinfeld",Andy Ackerman,x,NaN,NaN
124,7.0,The Friars Club (a.k.a. The Gypsies),"March 7, 1996",David Mandel,Andy Ackerman,S07E17,NaN,NaN
127,7.0,The Bottle Deposit (1),"May 2, 1996","Gregg Kavet, Andy Robin",Andy Ackerman,S07E20,NaN,NaN
128,7.0,The Bottle Deposit (2),"May 2, 1996","Gregg Kavet, Andy Robin",Andy Ackerman,x,NaN,NaN
164,9.0,The Reverse Peephole (a.k.a. The Man Fur),"January 15, 1998",Spike Feresten,Andy Ackerman,S09E12,NaN,NaN

In [21]:
# Correct all the episode title differences identified above
info_df['Title'] = info_df['Title'].replace({
    'The Fix-Up': 'The Fix Up', 
    'The Boyfriend (1)': 'The Boyfriend',
    'The Boyfriend (2)': 'The New Friend',
    'The Trip (1)': 'The Trip: Part 1', 
    'The Trip (2)': 'The Trip: Part 2',
    'The Wallet (1)': 'The Wallet', 
    'The Watch (2)': 'The Watch',
    'The Pilot (1)': 'The Pilot',
    'The Stand-In': 'The Stand-in',
    'The Mom &amp; Pop Store': 'The Mom and Pop Store',
    'The Cadillac (1)': 'The Cadillac',
    'The Friars Club (a.k.a. The Gypsies)': 'The Friars Club',
    'The Bottle Deposit (1)': 'The Bottle Deposit',
    'The Reverse Peephole (a.k.a. The Man Fur)': 'The Reverse Peephole' 
})

# Remove second half of hour long episodes that IMDB treated as 1 episode
info_df = info_df[info_df['SEID'] != 'x']

In [22]:
# Recreate original merge with newly updated info_df table
info_with_ratings = info_df.merge(ratings_df, how='outer', on='Title', suffixes=('_info', '_rating'))

# Check for NANs in right half - no more holes
info_with_ratings[info_with_ratings['Rating'].isna()]

Empty DataFrame
Columns: [Season, Title, AirDate, Writers, Director, SEID_info, SEID_rating, Rating]
Index: []

In [23]:
# Check for NANs in the left half
info_with_ratings[info_with_ratings['Director'].isna()]

,Season,Title,AirDate,Writers,Director,SEID_info,SEID_rating,Rating
171,NaN,Highlights of a Hundred,NaN,NaN,NaN,NaN,S06E14,7.3
172,NaN,The Chronicle,NaN,NaN,NaN,NaN,S09E21,7.3

In [24]:
# These are anniversary specials / compilation episodes
# They mess up the SEID from the ratings table for all episodes after them in their seasons
# Change to a left merge to keep all the real episodes with the correct SEID from info_df
info_with_ratings = info_df.merge(ratings_df, how='left', on='Title', suffixes=('_info', '_rating'))
del info_with_ratings['SEID_rating']
info_with_ratings.rename(columns={"SEID_info": "SEID"}, inplace=True)

# no NaNs in the DF
info_with_ratings[info_with_ratings.isnull().any(axis=1)]

Empty DataFrame
Columns: [Season, Title, AirDate, Writers, Director, SEID, Rating]
Index: []

In [25]:
script_df = pd.read_csv(r'C:\Users\nella\BOOTCAMP\HOMEWORK\ETL-mini-project\Seinfeld\scripts.csv')

# Convert Season and Episode to integers
script_df.EpisodeNo = script_df.EpisodeNo.astype('int64')
script_df.Season = script_df.Season.astype('int64')
# Drop extra index column
script_df.drop('Unnamed: 0', axis=1, inplace=True)

In [26]:
# Join all episode information to the script df
full_df = script_df.merge(info_with_ratings, how='inner', on='SEID')

full_df.drop('Season_y', axis=1, inplace=True)
full_df.rename(columns={"Season_x": "Season"}, inplace=True)


full_df.head(10)

,Character,Dialogue,EpisodeNo,SEID,Season,Title,AirDate,Writers,Director,Rating
0,JERRY,Do you know what this is all about? Do you kno...,1,S01E01,1,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,7.6
1,JERRY,"(pointing at Georges shirt) See, to me, that b...",1,S01E01,1,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,7.6
2,GEORGE,Are you through?,1,S01E01,1,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,7.6
3,JERRY,"You do of course try on, when you buy?",1,S01E01,1,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,7.6
4,GEORGE,"Yes, it was purple, I liked it, I dont actuall...",1,S01E01,1,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,7.6
5,JERRY,"Oh, you dont recall?",1,S01E01,1,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,7.6
6,GEORGE,"(on an imaginary microphone) Uh, no, not at th...",1,S01E01,1,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,7.6
7,JERRY,"Well, senator, Id just like to know, what you ...",1,S01E01,1,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,7.6
8,CLAIRE,Mr. Seinfeld. Mr. Costanza.,1,S01E01,1,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,7.6
9,GEORGE,"Are, are you sure this is decaf? Wheres the or...",1,S01E01,1,"Good News, Bad News","July 5, 1989","Larry David, Jerry Seinfeld",Art Wolff,7.6

UPLOAD DATAFRAME TO MONGO DATABASE

In [ ]:
# connect to Mongo 

client = MongoClient('mongodb+srv://mongo:mongo@ngranback.bmasa.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')
NLG_DB = client['NLG_DB']
ETL_collection = NLG_DB['ETL_collection']

In [ ]:
seinfeld_dict = full_df.to_dict("records")

# Insert collection (commented out because it's already done)
#ETL_collection.insert_many(seinfeld_dict)